.video {
  width: auto;
  height: 410px;
  position: relative;
  left: 27%;
  border-radius: 1rem;
  z-index: 1;
  display: inline-block;
}

.phone {
  width: auto;
  height: 100%;
  top: 0;
  left: 24%;
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.container {
  position: relative;
  padding: 1.75rem;
  margin: 0.5rem 0;
}

.hero {
  background-color: #181a20;
  background-image: url(../public/hero-bg.png);
}
